.input-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.input {
    padding: 10px;
    width: 75%;
    height: 70px;
    border: 2px solid #0B2447;
    font-size: 30px;
    background: white;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    transition: all 0.5s;
}

.input:focus {
    box-shadow: none;
    transition: all 0.5s;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0B2447;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
}

.input-container .topline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
}

.nextButton {
    color: white;
    border: 2px solid #0B2447;
    box-shadow: 7px 7px 0px 0px #0B2447;
    background-color: #013d91;
    margin-left: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.nextButton:hover {
    cursor: pointer;
    background-color: #0061e8;
    border: 2px solid #0B2447;
    margin-left: 5%;
}
