.pokemonBox {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 350px;
    height: 350px;
}

.pokemonContainer {
    width: 100%;
}

.whosThat {
    margin-top: -55px;
    margin-bottom: 71px;
    font-size: 250%;
}


.shinyBtn {
    cursor: pointer;
    border: 0;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    font-size: 20px;
}

.shinyBtn:hover {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.367);
    font-size: 20px;
}

.pokemonClue {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemonClue>* {
    width: 100%;
    text-align: center;
}
