* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  font-family: Lato, sans-serif;
  height: 100%;
}

h1 {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.game-title {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spacing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box {
  width: 35%;
  min-height: 825px;
  background-color: #d0d0d5;
  padding: 25px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
}
